.banner {
    position: relative;
    display: inline-block;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 200%;
}

@media only screen and (max-width: 600px) {
    .banner-text {
        top: 50%;
        font-size: 150%;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Noir semi-transparent */
}

.banner-text h1 {
    font-size: 1.5em;
    /*background-color: #50b942;
    padding: 10px;
    border-radius: 10px;*/
    color: white;
    font-weight: bold;
}
